html {
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
}

header h1 {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 0.3em;
}

.menubar {
  position: relative;
  /* right: 30px; */
}

#menubartext {
  padding-inline-start: 0;
}

#menubartext li {
  display: inline-block;
  margin: 0 4px 6px;
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #EEEEEE;
}

.containerBackGround {
  height: auto;
  margin-bottom: 400px;
  width: 100%;
  background-color: #EEEEEE;
  border: 0px solid #EEEEEE;
}

a.containerAnchor {
  height: 140px;
  display: block;
  visibility: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
}

.photoContainer {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.photoContainer h1 {
  text-align: center;
  font-size: 2.5rem;
  width: auto;
  margin-top: 0;
}

.photoContainer img {
  width: 140px;
  height: auto;
}

.textContainer {
  width: auto;
  max-width: 500px;
  padding: 0 40px;
  margin: auto;
  ;
}

.textContainer p {
  font-size: 1.2rem;
  line-height: 1.4;
}

.textContainer ul li {
  font-size: 1.2em;
  line-height: 2;
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footerLinks {
  display: block;
  align-items: center;
  /* width: 450px; */
  margin: 0px auto;
  padding: 10px 0;
}

.footerLink {
  width: auto;
  text-align: center;
}

.footerLink a {
  font-size: 1.2rem;
  line-height: 2em;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

.footerLink a:hover {
  color: #AAA;
}

@media (min-width: 992px) {
  a.containerAnchor {
    height: 250px;
  }

  .container {
    flex-direction: row;
    width: 830px;
    margin: 20px auto;
  }

  .photoContainer {
    width: 230px;
    margin: auto 0;
  }

  .textContainer {
    margin-left: 0px;
  }

  .footerLinks {
    position: relative;
    text-align: center;
  }

  .footerLink {
    display: inline;
    margin: 0 20px;
  }
}

@media (orientation: portrait) and (min-height: 992px) {
  .containerBackGround {
    margin-bottom: 700px;
  }
}