html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
}
#contactLink {
  float: right;
  text-align: right;
  margin-right: 20px;
  font-size: 1.4em;
  line-height: 2;
}
header h1 {
  font-size: 5em;
  font-style: italic;
  margin-bottom: 0.3em;
}
.menubar {
  position: relative;
  right: 30px;
}
#menubartext li {
  display: inline-block;
  width: 150px;
  height: 40px;
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  color: #EEEEEE;
}
.pageBackGround {
  height: auto;
  width: 100%;
  background-color: #EEEEEE;
  border: 0px solid #EEEEEE;
}
a.pageAnchor {
  height: 310px;
  display: block;
  visibility: hidden;
}
.extraHeight {
  height: 800px;
}
.container {
  display: block;
  margin: 30px auto;
}
.photoContainer {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
  background: #EEEEEE;
  text-align: center;
}
.photoContainer h1 {
  text-align: center;
  font-size: 2em;
  width: auto;
  margin-top: 0;
}
.photoContainer img{
  width: 140px;
  height: auto;
}
.textContainer {
  width: auto;
  margin: auto 40px;;
}
.textContainer p {
  font-size: 0.9em;
  line-height: 1.4;
}
.textContainer ul li {
  font-size: 0.9em;
  line-height: 2;
}
footer {
  background-color: #EEEEEE;
}
.footerLinks {
  display: block;
  width: 450px;
  margin: 0px auto;
  padding: 10px 0;
}
.footerLink {
  width: auto;
  text-align: center;
}
.footerLink a {
  font-size: 1.2em;
  line-height: 2em;
  text-decoration: none;
  color: #0000EE;
}

@media (max-width: 836px) {
  a.pageanchor {
    height: 310px;
  }
}

@media (max-width: 643px) {
  a.pageanchor {
    height: 380px;
  }
  .footerLink a {
    font-size: 4em;
  }
}

@media (max-width: 521px) {
  a.pageanchor {
    height: 420px;
  }
}

@media (orientation: landscape) and (min-width: 992px) {
  a.pageAnchor {
    height: 250px;
  }
  .container {
    display: flex;
    width: 830px;
    margin: 20px auto;
  }
  .photoContainer {
    width: 230px;
    margin: auto 0;
  }
  .textContainer {
    margin-left: 30px;
  }
  .footerLinks {
    display: flex;
    width: 820px;
  }
  .footerLink {
    width: 270px;
  }
  .footerLink a {
    font-size: 1em;
    line-height: 2em;
  }
}
